<?xml version="1.0"?>
<configuration>
<configSections>
  <sectionGroup name="businessObjects">
    <sectionGroup name="crystalReports">
      <section name="crystalReportViewer" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
  </sectionGroup>
</configSections>
  <!--connectionStrings>
    <add name="Unmanaged_RAS10_CSharp_Printers.Properties.Settings.ConnectionString"
        connectionString="Provider=SQLOLEDB;Data Source=10.167.13.19;Password=1Oem2000;User ID=sa;Initial Catalog=xtreme"
        providerName="System.Data.OleDb" />
</connectionStrings>-->
<startup useLegacyV2RuntimeActivationPolicy="true">
<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<!-- <assemblyIdentity name="System.Web.Services" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/> -->
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
<!--  
  <businessObjects>
    <crystalReports>
      <crystalReportViewer>
        <add key="AntiAlias" value="true"/>
      </crystalReportViewer>
    </crystalReports>
  </businessObjects>
-->
</configuration>
